TESTE COM SQL (Necessário instalar ipython-sql)

In [1]:
!pip install ipython-sql

Requirement already satisfied: ipython-sql in c:\users\renato\documents\projetos\deathstarlake\env\lib\site-packages (0.5.0)
Requirement already satisfied: prettytable in c:\users\renato\documents\projetos\deathstarlake\env\lib\site-packages (from ipython-sql) (3.8.0)
Requirement already satisfied: ipython in c:\users\renato\documents\projetos\deathstarlake\env\lib\site-packages (from ipython-sql) (8.14.0)
Requirement already satisfied: sqlalchemy>=2.0 in c:\users\renato\documents\projetos\deathstarlake\env\lib\site-packages (from ipython-sql) (2.0.19)
Requirement already satisfied: sqlparse in c:\users\renato\documents\projetos\deathstarlake\env\lib\site-packages (from ipython-sql) (0.4.4)
Requirement already satisfied: six in c:\users\renato\documents\projetos\deathstarlake\env\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in c:\users\renato\documents\projetos\deathstarlake\env\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.2.0 in c:\users\renato\documents\projetos\deathstarlake\env\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.7.1)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\renato\documents\projetos\deathstarlake\env\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (2.0.2)
Requirement already satisfied: backcall in c:\users\renato\documents\projetos\deathstarlake\env\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: decorator in c:\users\renato\documents\projetos\deathstarlake\env\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\renato\documents\projetos\deathstarlake\env\lib\site-packages (from ipython->ipython-sql) (0.18.2)
Requirement already satisfied: matplotlib-inline in c:\users\renato\documents\projetos\deathstarlake\env\lib\site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: pickleshare in c:\users\renato\documents\projetos\deathstarlake\env\lib\site-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30 in c:\users\renato\documents\projetos\deathstarlake\env\lib\site-packages (from ipython->ipython-sql) (3.0.39)
Requirement already satisfied: pygments>=2.4.0 in c:\users\renato\documents\projetos\deathstarlake\env\lib\site-packages (from ipython->ipython-sql) (2.15.1)
Requirement already satisfied: stack-data in c:\users\renato\documents\projetos\deathstarlake\env\lib\site-packages (from ipython->ipython-sql) (0.6.2)
Requirement already satisfied: traitlets>=5 in c:\users\renato\documents\projetos\deathstarlake\env\lib\site-packages (from ipython->ipython-sql) (5.9.0)
Requirement already satisfied: colorama in c:\users\renato\documents\projetos\deathstarlake\env\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: wcwidth in c:\users\renato\documents\projetos\deathstarlake\env\lib\site-packages (from prettytable->ipython-sql) (0.2.6)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\renato\documents\projetos\deathstarlake\env\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: executing>=1.2.0 in c:\users\renato\documents\projetos\deathstarlake\env\lib\site-packages (from stack-data->ipython->ipython-sql) (1.2.0)
Requirement already satisfied: asttokens>=2.1.0 in c:\users\renato\documents\projetos\deathstarlake\env\lib\site-packages (from stack-data->ipython->ipython-sql) (2.2.1)
Requirement already satisfied: pure-eval in c:\users\renato\documents\projetos\deathstarlake\env\lib\site-packages (from stack-data->ipython->ipython-sql) (0.2.2)

In [2]:
# Importando bibliotecas

import pandas as pd
import sqlite3

In [3]:
#Criando um dataframe para testes

df = pd.DataFrame({
    'Nome': ['Andre','Bia','Carol','Diego','Elisa','Felipe'],
    'Idade': [20,22,24,26,28,30],
    'Cidade': ['Brasilia','Manaus','Recife','Sao Paulo','Rio de Janeiro','Parana']
})

df

     Nome  Idade          Cidade
0   Andre     20        Brasilia
1     Bia     22          Manaus
2   Carol     24          Recife
3   Diego     26       Sao Paulo
4   Elisa     28  Rio de Janeiro
5  Felipe     30          Parana

In [4]:
# Criando conexão do SQL com um database

con = sqlite3.connect('jupyter_sql_teste.db')

In [6]:
# Criando tabela no database

df.to_sql('test', con)

6

In [7]:
# Carregando o módulo SQL para iPython

%load_ext sql

In [8]:
%sql sqlite:///jupyter_sql_teste.db

In [10]:
%%sql

SELECT * FROM test

 * sqlite:///jupyter_sql_teste.db
Done.

[(0, 'Andre', 20, 'Brasilia'),
 (1, 'Bia', 22, 'Manaus'),
 (2, 'Carol', 24, 'Recife'),
 (3, 'Diego', 26, 'Sao Paulo'),
 (4, 'Elisa', 28, 'Rio de Janeiro'),
 (5, 'Felipe', 30, 'Parana')]

In [11]:
%%sql

SELECT count(*) FROM test

 * sqlite:///jupyter_sql_teste.db
Done.

[(6,)]

In [12]:
%%sql

SELECT sum(Idade) as 'SomaIdade' FROM test

 * sqlite:///jupyter_sql_teste.db
Done.

[(150,)]